*.olean
/_target
/leanpkg.path
/lake-packages
/build
/.lake/
/.cache
.gitsecret/keys/random_seed
!*.secret
Math2001/01_Proofs_by_Calculation/02_Proving_Equalities_in_Lean.lean
Math2001/01_Proofs_by_Calculation/03_Tips_and_Tricks.lean
Math2001/01_Proofs_by_Calculation/04_Proving_Inequalities.lean
Math2001/01_Proofs_by_Calculation/05_A_Shortcut.lean
Math2001/02_Proofs_with_Structure/01_Intermediate_Steps.lean
Math2001/02_Proofs_with_Structure/02_Invoking_Lemmas.lean
Math2001/02_Proofs_with_Structure/03_Or.lean
Math2001/02_Proofs_with_Structure/04_And.lean
Math2001/02_Proofs_with_Structure/05_Exists.lean
Math2001/03_Parity_and_Divisibility/01_Parity.lean
Math2001/03_Parity_and_Divisibility/02_Divisibility.lean
Math2001/03_Parity_and_Divisibility/03_Modular_Arithmetic_Theory.lean
Math2001/03_Parity_and_Divisibility/04_Modular_Arithmetic_Calculations.lean
Math2001/03_Parity_and_Divisibility/05_Bezout.lean
Math2001/04_Proofs_with_Structure_II/01_Forall_Implies.lean
Math2001/04_Proofs_with_Structure_II/02_Iff.lean
Math2001/04_Proofs_with_Structure_II/03_Exists_Unique.lean
Math2001/04_Proofs_with_Structure_II/04_Contradictory_Hypotheses.lean
Math2001/04_Proofs_with_Structure_II/05_Proof_by_Contradiction.lean
Math2001/05_Logic/01_Logical_Equivalence.lean
Math2001/05_Logic/02_Excluded_Middle.lean
Math2001/05_Logic/03_Negation_Algorithm.lean
Math2001/06_Induction/01_Induction.lean
Math2001/06_Induction/02_Recurrence_Relations.lean
Math2001/06_Induction/03_Two_Step_Induction.lean
Math2001/06_Induction/04_Strong_Induction.lean
Math2001/06_Induction/05_Pascal.lean
Math2001/06_Induction/06_Division_Algorithm.lean
Math2001/06_Induction/07_Euclidean_Algorithm.lean
Math2001/07_Number_Theory/01_Infinitely_Many_Primes.lean
Math2001/07_Number_Theory/02_Euclid_Lemma.lean
Math2001/07_Number_Theory/03_Sqrt_Two.lean
Math2001/08_Functions/01_Injective_Surjective.lean
Math2001/08_Functions/02_Bijective.lean
Math2001/08_Functions/03_Composition.lean
Math2001/08_Functions/04_Product_Types.lean
Math2001/09_Sets/01_Sets.lean
Math2001/09_Sets/02_Set_Operations.lean
Math2001/09_Sets/03_Powerset.lean
Math2001/10_Relations/01_Introduction.lean
Math2001/10_Relations/02_Equivalence_Relations.lean
Math2001/Homework/hw0.lean
Math2001/Homework/hw1.lean
Math2001/Homework/hw2.lean
Math2001/Homework/hw3.lean
Math2001/Homework/hw4.lean
Math2001/Homework/hw5.lean
Math2001/Homework/hw6.lean
Math2001/Homework/hw7.lean
Math2001/Homework/hw8.lean
